* text=auto
* eol=lf

.git				export-ignore
.gitattributes      export-ignore
.gitignore          export-ignore
_env.example.php    export-ignore
_tests               export-ignore
_deprecated	        export-ignore
vendor              export-ignore
docs                export-ignore



